# Core Libraries
numpy
pandas
matplotlib
scikit-learn
opencv-python
tqdm

# Deep Learning
tensorflow==2.20.0
keras
torch
torchvision
performer-pytorch

# MLOps & Experiment Tracking
mlflow
dvc
dvc[gdrive]

# Web App Deployment
streamlit

# Utilities
Pillow
seaborn
notebook
Flask==2.3.2
torch==2.1.0
torchvision==0.16.1
Pillow==10.1.0
tqdm==4.66.1
mlflow==2.7.1
