# Core Libraries
numpy
pandas
matplotlib
scikit-learn
opencv-python
tqdm

# Deep Learning (PyTorch)
torch==2.9.1
torchvision==0.15.2
performer-pytorch
keras  # optional if used

# Web App Deployment
Flask==2.3.2
flask-cors==4.0.0
gunicorn==21.2.0
Pillow==10.1.0

# MLOps & Experiment Tracking
mlflow==2.7.1
dvc
dvc[gdrive]

# Utilities
seaborn
notebook
